#content {
  position: relative;
}

#content .recomended {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(10%, -10%);
}

.bg-card {
  background-color: #f4f6fa;
}

.popular {
  border-radius: 20px;
}
