#quote-info-content {
  position: relative;
}

#quote-info-content .recomended {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(20%, -10%);
}

.bg-card {
  background-color: #f4f6fa;
}

.popular {
  border-radius: 20px;
}

.highlight {
  color: #008bd0;
}
