.line-x {
  background-image: url(../../../images/blue-line-x.png);
  background-repeat: repeat-x;
}

.line-y {
  background-image: url(../../../images/blue-line-y.png);
  background-repeat: repeat-y;
}
