.line-x {
  background-image: url(../../images/orange-line-x.png);
  background-repeat: repeat-x;
}

.line-y {
  background-image: url(../../images/orange-line-y.png);
  background-repeat: repeat-y;
}
