/* Forms */
.form-data .card {
  width: 80%;
}

.tienda-button {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-indent: 5px;
}

.tienda-button:hover {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: 0.3s all;
  font-weight: bold;
  transform: translateY(3px);
}

.tienda-button:active {
  transition: 0.3s all;
  transform: translateY(15px);
}

/* ----------------------- */

.p-datepicker-today > span {
  background: red;
}
.p-datepicker-header {
  background: var(--primary-color) !important;
}
.p-datepicker-year {
  color: white !important;
}
.p-datepicker-month {
  color: white !important;
}
.p-datepicker-title {
  color: white !important;
}
.p-datepicker-next {
  color: white !important;
}

.p-datepicker-prev {
  color: white !important;
}

.p-datepicker-today {
  color: white !important;
}

.p-datepicker-current-day {
  color: red !important;
}
